# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Salidas de los experimentos
resultados.json
*.lp
*.mps
*.sol

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# Sistema
.DS_Store

resultados/
resultados_final.json
